<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/configuracion.css">
    <title>Configuración</title>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js" 
            integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" 
            crossorigin="anonymous"></script>
</head>
<body>
    <header class="menu">
        <a href="/"><button type="button" id="menu-boton-principal">Página Principal</button></a>
    </header>

    <main>
        <div id="contenedor-configuracion">
            <h1>Configuración de Usuario</h1>
            <form id="form-configuracion" action="/conf" method="post" autocomplete="off">
                <label for="nombre">Nombre:</label>
                <input type="text" id="nombre" name="nombre" value="{{user[0]}}">

                <label for="apellido">Apellido:</label>
                <input type="text" id="apellido" name="apellido" value="{{user[1]}}">

                <label for="email">Correo Electrónico:</label>
                <input type="email" id="email" name="email" value="{{user[2]}}">

                <label for="password">Nueva contraseña:</label>
                <input type="password" id="password" name="password" placeholder="Nueva contraseña" readonly onfocus="this.removeAttribute('readonly');">

                <label for="direccion">Dirección:</label>
                <input type="text" id="direccion" name="direccion" value="{{user[3]}}">

                <label for="region">Región:</label>
                <select id="regiones" name="region">
                    <option value="{{user[4]}}" selected>{{user[4]}}</option>
                </select>

                <label for="comuna">Comuna:</label>
                <select id="comunas" name="comuna">
                    <option value="{{user[5]}}" selected>{{user[5]}}</option>
                </select>

                <div class="botones">
                    <button type="submit">Guardar Cambios</button>
                    <button type="reset" class="cancelar">Cancelar</button>
                </div>
            </form>

            {{msg}}
            <button id="cerrar-sesion" class="cerrar-sesion">Cerrar Sesión</button>
        </div>
    </main>

    <script src="../static/registro.js"></script>
    <script>
        document.getElementById('cerrar-sesion').addEventListener('click', () => {
            // Elimina el estado de sesión (simulado con localStorage)
            localStorage.removeItem('loggedIn');
            alert('Has cerrado sesión correctamente.');
            window.location.href = '/logout'; // Redirigir a la página principal
        });
    </script>

<script>
    var RegionesYcomunas = {
      "regiones": [{
          "NombreRegion": "Arica y Parinacota",
          "comunas": ["Arica", "Camarones", "Putre", "General Lagos"]
        },
        {
          "NombreRegion": "Tarapacá",
          "comunas": ["Iquique", "Alto Hospicio", "Pozo Almonte", "Camiña", "Colchane", "Huara", "Pica"]
        },
        {
          "NombreRegion": "Antofagasta",
          "comunas": ["Antofagasta", "Mejillones", "Sierra Gorda", "Taltal", "Calama", "Ollagüe", "San Pedro de Atacama", "Tocopilla", "María Elena"]
        },
        {
          "NombreRegion": "Atacama",
          "comunas": ["Copiapó", "Caldera", "Tierra Amarilla", "Chañaral", "Diego de Almagro", "Vallenar", "Alto del Carmen", "Freirina", "Huasco"]
        },
        {
          "NombreRegion": "Coquimbo",
          "comunas": ["La Serena", "Coquimbo", "Andacollo", "La Higuera", "Paiguano", "Vicuña", "Illapel", "Canela", "Los Vilos", "Salamanca", "Ovalle", "Combarbalá", "Monte Patria", "Punitaqui", "Río Hurtado"]
        },
        {
          "NombreRegion": "Valparaíso",
          "comunas": ["Valparaíso", "Casablanca", "Concón", "Juan Fernández", "Puchuncaví", "Quintero", "Viña del Mar", "Isla de Pascua", "Los Andes", "Calle Larga", "Rinconada", "San Esteban", "La Ligua", "Cabildo", "Papudo", "Petorca", "Zapallar", "Quillota", "Calera", "Hijuelas", "La Cruz", "Nogales", "San Antonio", "Algarrobo", "Cartagena", "El Quisco", "El Tabo", "Santo Domingo", "San Felipe", "Catemu", "Llaillay", "Panquehue", "Putaendo", "Santa María", "Quilpué", "Limache", "Olmué", "Villa Alemana"]
        },
        {
          "NombreRegion": "Región del Libertador Gral. Bernardo O'Higgins",
          "comunas": ["Rancagua", "Codegua", "Coinco", "Coltauco", "Doñihue", "Graneros", "Las Cabras", "Machalí", "Malloa", "Mostazal", "Olivar", "Peumo", "Pichidegua", "Quinta de Tilcoco", "Rengo", "Requínoa", "San Vicente", "Pichilemu", "La Estrella", "Litueche", "Marchihue", "Navidad", "Paredones", "San Fernando", "Chépica", "Chimbarongo", "Lolol", "Nancagua", "Palmilla", "Peralillo", "Placilla", "Pumanque", "Santa Cruz"]
        },
        {
          "NombreRegion": "Región del Maule",
          "comunas": ["Talca", "Constitución", "Curepto", "Empedrado", "Maule", "Pelarco", "Pencahue", "Río Claro", "San Clemente", "San Rafael", "Cauquenes", "Chanco", "Pelluhue", "Curicó", "Hualañé", "Licantén", "Molina", "Rauco", "Romeral", "Sagrada Familia", "Teno", "Vichuquén", "Linares", "Colbún", "Longaví", "Parral", "Reviro", "San Javier", "Villa Alegre", "Yerbas Buenas"]
        },
        {
          "NombreRegion": "Región del Biobío",
          "comunas": ["Concepción", "Coronel", "Chiguayante", "Florida", "Hualqui", "Lota", "Penco", "San Pedro de la Paz", "Santa Juana", "Talcahuano", "Tomé", "Hualpén", "Lebu", "Arauco", "Cañete", "Contulmo", "Curanilahue", "Los Álamos", "Tirúa", "Los Ángeles", "Antuco", "Cabrero", "Laja", "Mulchén", "Nacimiento", "Negrete", "Quilaco", "Quilleco", "San Rosendo", "Santa Bárbara", "Tucapel", "Yumbel", "Alto Biobío", "Chillán", "Bulnes", "Cobquecura", "Coelemu", "Coihueco", "Chillán Viejo", "El Carmen", "Ninhue", "Ñiquén", "Pemuco", "Pinto", "Portezuelo", "Quillón", "Quirihue", "Ránquil", "San Carlos", "San Fabián", "San Ignacio", "San Nicolás", "Treguaco", "Yungay"]
        },
        {
          "NombreRegion": "Región de la Araucanía",
          "comunas": ["Temuco", "Carahue", "Cunco", "Curarrehue", "Freire", "Galvarino", "Gorbea", "Lautaro", "Loncoche", "Melipeuco", "Nueva Imperial", "Padre las Casas", "Perquenco", "Pitrufquén", "Pucón", "Saavedra", "Teodoro Schmidt", "Toltén", "Vilcún", "Villarrica", "Cholchol", "Angol", "Collipulli", "Curacautín", "Ercilla", "Lonquimay", "Los Sauces", "Lumaco", "Purén", "Renaico", "Traiguén", "Victoria"]
        },
        {
          "NombreRegion": "Región de Los Ríos",
          "comunas": ["Valdivia", "Corral", "Lanco", "Los Lagos", "Máfil", "Mariquina", "Paillaco", "Panguipulli", "La Unión", "Futrono", "Lago Ranco", "Río Bueno"]
        },
        {
          "NombreRegion": "Región de Los Lagos",
          "comunas": ["Puerto Montt", "Calbuco", "Cochamó", "Fresia", "Frutillar", "Los Muermos", "Llanquihue", "Maullín", "Puerto Varas", "Castro", "Ancud", "Chonchi", "Curaco de Vélez", "Dalcahue", "Puqueldón", "Queilén", "Quellón", "Quemchi", "Quinchao", "Osorno", "Puerto Octay", "Purranque", "Puyehue", "Río Negro", "San Juan de la Costa", "San Pablo", "Chaitén", "Futaleufú", "Hualaihué", "Palena"]
        },
        {
          "NombreRegion": "Región Aisén del Gral. Carlos Ibáñez del Campo",
          "comunas": ["Coihaique", "Lago Verde", "Aisén", "Cisnes", "Guaitecas", "Cochrane", "O’Higgins", "Tortel", "Chile Chico", "Río Ibáñez"]
        },
        {
          "NombreRegion": "Región de Magallanes y de la Antártica Chilena",
          "comunas": ["Punta Arenas", "Laguna Blanca", "Río Verde", "San Gregorio", "Cabo de Hornos (Ex Navarino)", "Antártica", "Porvenir", "Primavera", "Timaukel", "Natales", "Torres del Paine"]
        },
        {
          "NombreRegion": "Región Metropolitana de Santiago",
          "comunas": ["Cerrillos", "Cerro Navia", "Conchalí", "El Bosque", "Estación Central", "Huechuraba", "Independencia", "La Cisterna", "La Florida", "La Granja", "La Pintana", "La Reina", "Las Condes", "Lo Barnechea", "Lo Espejo", "Lo Prado", "Macul", "Maipú", "Ñuñoa", "Pedro Aguirre Cerda", "Peñalolén", "Providencia", "Pudahuel", "Quilicura", "Quinta Normal", "Recoleta", "Renca", "San Joaquín", "San Miguel", "San Ramón", "Vitacura", "Puente Alto", "Pirque", "San José de Maipo", "Colina", "Lampa", "Tiltil", "San Bernardo", "Buin", "Calera de Tango", "Paine", "Melipilla", "Alhué", "Curacaví", "María Pinto", "San Pedro", "Talagante", "El Monte", "Isla de Maipo", "Padre Hurtado", "Peñaflor"]
        }
      ]
    };
  </script>

  <!-- Integración de las Funciones de jQuery -->
  <script>
    jQuery(document).ready(function () {
        var htmlRegion = '';
        var htmlComunas = '';

        // Llenar el select de Regiones
        RegionesYcomunas.regiones.forEach(region => {
            if (region.NombreRegion === "{{user[4]}}") {
                htmlRegion += `<option value="${region.NombreRegion}" selected>${region.NombreRegion}</option>`;
                region.comunas.forEach(comuna => {
                    if (comuna === "{{user[5]}}") {
                        htmlComunas += `<option value="${comuna}" selected>${comuna}</option>`;
                    } else {
                        htmlComunas += `<option value="${comuna}">${comuna}</option>`;
                    }
                });
            } else {
                htmlRegion += `<option value="${region.NombreRegion}">${region.NombreRegion}</option>`;
            }
        });

        jQuery('#regiones').html(htmlRegion);
        jQuery('#comunas').html(htmlComunas);

        // Manejar el cambio en el select de Regiones
        jQuery('#regiones').change(function () {
            var valorRegion = jQuery(this).val();
            var htmlComuna = '';

            RegionesYcomunas.regiones.forEach(region => {
                if (region.NombreRegion === valorRegion) {
                    region.comunas.forEach(comuna => {
                        htmlComuna += `<option value="${comuna}">${comuna}</option>`;
                    });
                }
            });

            jQuery('#comunas').html(htmlComuna);
        });
    });
</script>

  <!-- Validación de Contraseñas y Longitudes de Campos -->
  <script>
    // Validación de contraseñas
    function validarPasswords(event) {
      const password = document.getElementById('contenedor-formulario-registro-password');
      const confirmPassword = document.getElementById('contenedor-formulario-registro-confirmacion_password');
      const mensajeError = document.getElementById('mensaje-error-password');

      if (password.value !== confirmPassword.value) {
        mensajeError.textContent = "Las contraseñas no coinciden.";
        confirmPassword.classList.add('error');
        event.preventDefault();
      } else {
        mensajeError.textContent = "";
        confirmPassword.classList.remove('error');
      }

      const region = document.getElementById('regiones');
      const mensajeErrorRegion = document.getElementById('mensaje-error-region');

      if (region.value === 'sin-region' || region.value === '--') {
        mensajeErrorRegion.textContent = "Seleccione una Región válida.";
        region.classList.add('error');
        esValido = false;
      } else {
        mensajeErrorRegion.textContent = "";
        region.classList.remove('error');
      }

      // Validación de Comuna
      const comuna = document.getElementById('comunas');
      const mensajeErrorComuna = document.getElementById('mensaje-error-comuna');

      if (comuna.value === 'sin-comuna' || comuna.value === '--') {
        mensajeErrorComuna.textContent = "Seleccione una Comuna válida.";
        comuna.classList.add('error');
        esValido = false;
      } else {
        mensajeErrorComuna.textContent = "";
        comuna.classList.remove('error');
      }

    }

    // Event Listener para validar contraseñas al enviar el formulario
    window.addEventListener('DOMContentLoaded', () => {
      const form = document.getElementById('form-registro');
      form.addEventListener('submit', validarPasswords);
    });
  </script>

</body>
<script src="ocultador.js"></script>
</html>
