<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../static/index.css" > 
    <title>Menu</title>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600;900&italic=true&display=swap" rel="stylesheet">
  </head>
  <body>
    <header>

    <a href=""><button type="button" id="menu-boton-principal" class="five">Pagina Principal</button></a>

    <div class="menu-boton-right">
        <a href="login"><button type="button" id="menu-boton-login" class="invFive">Login</button></a>
        <a href="registro"><button type="button" id="menu-boton-registro" class="invFive">Registro</button></a>
        <a href="conf"><button type="button" id="menu-boton-configuracion" class="invFive">Perfil</button></a>
        <a href="/carrito" ><button type="button" id="menu-boton-carrito" class="invFive">Carrito</button></a>

    </div>
       
  </header>


  
  <h1>Tienda</h1>
  <div class = "todos_items">

    {%for item in productos%}
        <a  href="/producto/{{item[0]}}">
        <div class = "item">
            <figure>
                <img src="/static/imgs/{{item[3]}}" alt="producto">
            </figure>
            <div class="infoProd">
                <h2>{{item[1]}}</h2>
                <p class="precio">{{item[2]}}</p>
            </div>
        </div>
        </a>
    {%endfor%}
  </div>

  <script src="static\ocultador.js"></script>

  </body>
</html>
