<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../static/index.css" > 
    <title>Menu</title>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600;900&italic=true&display=swap" rel="stylesheet">
  </head>
  <body>
    <header>

    <a href="/"><button type="button" id="menu-boton-principal" class="five">Pagina Principal</button></a>

    <div class="menu-boton-right">
        <a href="login"><button type="button" id="menu-boton-login" class="invFive">Login</button></a>
        <a href="registro"><button type="button" id="menu-boton-login" class="invFive">Registro</button></a>
    </div>
       
  </header>


  
  <h1>Tienda</h1>
  <div class = "todos_items">
      <div class = "item">
          <figure>
              <img src="/tienda/static/imgs/chaqeutaa.jpg" alt="producto">
          </figure>
          <div class="infoProd">
              <h2>Chaquetas de cuero</h2>
              <p class="precio">$$$</p>
          </div>
      </div>
      <div class = "item">
          <figure>
              <img src="/tienda/static/imgs/carteraa.jpg" alt="producto">
          </figure>
          <div class="infoProd">
              <h2>Carteras de cuero</h2>
              <p class="precio">$$$</p>
          </div>
      </div>
      <div class = "item">
          <figure>
              <img src="/tienda/static/imgs/cintu.jpg" alt="producto">
          </figure>
          <div class="infoProd">
              <h2>Cintures de cuero</h2>
              <p class="precio">$$$</p>
          </div>
      </div>
  </div>

  </body>
</html>
