<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../static/index.css" > 
    <title>Menu</title>
  </head>
  <body>
    <header>
      <a href="/"><button type="button" id="menu-boton-principal">Pagina Principal</button></a> 
    <a href="login"><button type="button" id="menu-boton-login">Pagina Login</button></a>
    <a href="registro"><button type="button" id="menu-boton-login">Pagina Registro</button></a>  
      <div class="icono">
          <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="iconLogin">
              <path stroke-linecap="round" stroke-linejoin="round" d="M15.75 6a3.75 3.75 0 1 1-7.5 0 3.75 3.75 0 0 1 7.5 0ZM4.501 20.118a7.5 7.5 0 0 1 14.998 0A17.933 17.933 0 0 1 12 21.75c-2.676 0-5.216-.584-7.499-1.632Z" />
            </svg>  
      </div>
  </header>


  
  <h1>Tienda</h1>
  <div class = "todos_items">
      <div class = "item">
          <figure>
              <img src="imgs/chaqeutaa.jpg" alt="producto">
          </figure>
          <div class="infoProd">
              <h2>Chaquetas de cuero</h2>
              <p class="precio">$$$</p>
          </div>
      </div>
      <div class = "item">
          <figure>
              <img src="imgs/carteraa.jpg" alt="producto">
          </figure>
          <div class="infoProd">
              <h2>Carteras de cuero</h2>
              <p class="precio">$$$</p>
          </div>
      </div>
      <div class = "item">
          <figure>
              <img src="imgs/cintu.jpg" alt="producto">
          </figure>
          <div class="infoProd">
              <h2>Cintures de cuero</h2>
              <p class="precio">$$$</p>
          </div>
      </div>
  </div>

  nombre:{{data[0]}}
  apellido:{{data[1]}}


  </body>
</html>
