<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link   rel="stylesheet" href="src/login.css" >
    <title>Login</title>
</head>
<body>
      <header class="menu">
        <a href="index.html"><button type="button" id="menu-boton-principal">Pagina Principal</button></a> 
        <a href="login.html"><button type="button" id="menu-boton-login">Pagina Login</button></a>        
      </header>

      <div id="contenedor" >
        <form id = "contenedor-formulario-registro" >

        <h1>Login</h1>
    
        <input type='text' name="nombre" id="contenedor-formulario-registro-nombre"></input>
        <input type='password' name="pasword" id="contenedor-formulario-registro-password"></input>
        <button type="submit" id = "contenedor-formulario-registro-boton">Registrarse</button>
        </form>
      </div> 
    
    
</body>
</html>