<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><!--Nombre de producto--></title>
    <link rel="stylesheet" href="../static/producto.css">
</head>
<body>
    <header class="menu">
        <a href="/"><button type="button" id="menu-boton-principal">Página Principal</button></a> 
        <a href="login"><button type="button" id="menu-boton-login">Página Login</button></a>
        <a href="registro"><button type="button" id="menu-boton-registro">Página Registro</button></a>    
        <a href="carrito.html" ><button type="button" id="menu-boton-registro">ICONO CARRITO</button></a> 
      </header>

    <h1><!--informacion del producto clickeado--></h1>

<!-- aqui hay que visualizar producto clicleado en el index donde se exiben todos los productos -->
<div class="product-container">
    <!-- Imagen del producto -->
    <div class="product-image">
        <img src="https://via.placeholder.com/500" alt="Producto">
    </div>
    
    <!-- Detalles del producto -->
    <div class="product-details">
        <h1 class="product-title">Nombre del Producto</h1>
        <p class="product-price">$9,999.99</p>
        <p class="product-description">
            Aquí va una breve descripción del producto. Este texto detalla las características principales, beneficios y cualquier otra información relevante para los compradores.
        </p>
        <a href="#" class="add-to-cart-btn">Agregar al carrito</a>
    </div>
</div>

</body>
</html>
