<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><!--Nombre de producto--></title>
    <link rel="stylesheet" href="../static/producto.css">
</head>
<body>
    <header class="menu">
        <a href="/"><button type="button" id="menu-boton-principal">Página Principal</button></a> 
        <a href="/login"><button type="button" id="menu-boton-login">Página Login</button></a>
        <a href="/registro"><button type="button" id="menu-boton-registro">Página Registro</button></a>    
        <a href="/carrito" ><button type="button" id="menu-boton-carrito">Carrito</button></a> 
      </header>

    <h1><!--informacion del producto clickeado--></h1>

<!-- aqui hay que visualizar producto clicleado en el index donde se exiben todos los productos -->


<div class="product-container">
    <!-- Imagen del producto -->
    <div class="product-image">
        <img src="../static/imgs/{{productos[4]}}" alt="Producto">
    </div>
    
    <!-- Detalles del producto -->
    <div class="product-details">
        <h1 class="product-title">{{productos[1]}}</h1>
        <p class="product-price">${{productos[2]}}</p>
        <p class="product-inventory">Quedan {{productos[3]}} unidades</p>
        <p class="product-description">
            {{productos[7]}}
        </p>
        <a href="../carrito/add_to_cart/{{productos[0]}}" class="add-to-cart-btn">Agregar al carrito</a>
        {{msg}}
    </div>

</div>


<script src="../static/ocultador.js"></script>
</body>
</html>
