<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Subir Productos</title>
    <link rel="stylesheet" href="./static/propietario.css">
</head>
<body>
    <header>
        <a href="../"><button type="button" id="menu-boton-principal">Página Principal</button></a> 
        <h1>Gestión de Productos</h1>
        <p>Sube tus artículos de cuero para la venta</p>
    </header>
    <main>
        <section class="form-container">
            <form id="productForm" action="/propietario/add_product" method="post" enctype="multipart/form-data">
                <div class="form-group">
                    <label for="nombre">Nombre del artículo:</label>
                    <input type="text" id="nombre" name="nombre" placeholder="Ej. Bolso de cuero" required>
                </div>

                <div class="form-group">
                    <label for="descripcion">Descripción:</label>
                    <textarea id="descripcion" name="descripcion" rows="4" placeholder="Describe el artículo" required></textarea>
                </div>

                <div class="form-group">
                    <label for="precio">Precio ($):</label>
                    <input type="number" id="precio" name="precio" min="0" step="1" placeholder="Ej. 5000" required>
                </div>

                <div class="form-group">
                    <label for="imagen">Subir imagen:</label>
                    <input type="file" id="imagen" name="imagen" accept="image/*" required>
                </div>

                <div class="form-group">
                    <label for="categoria">Categoria</label>
                    <input type="text" id="categoria" name="categoria" placeholder="Ej. Bolso" required>
                </div>

                <div class="form-group">
                    <label for="inventario">Cantidad en inventario</label>
                    <input type="number" id="inventario" name="inventario" placeholder="Ej. 40" required>
                </div>

                <button type="submit" class="submit-btn">Subir producto</button>
            </form>
        </section>
        {{msg}}
    </main>
</body>
</html>













