*::after,
*::before,
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    margin: 0;
    max-width: 100%;
    font-family: 'Lato';
    color: #333;
    background-image: url('/tienda/static/imgs/fondo2.webp');
    background-size: auto;  /* Mantiene el tamaño original de la imagen */
    background-position: center;
    background-attachment: fixed;
    padding-top: 140px;
}

h1 {
    color: #fff; /* Blanco para el texto */
    font-size: 72px; /* Aumentar el tamaño de la fuente */
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5); /* Sombra para mayor contraste */
    background-color: rgba(0, 0, 0, 0.8); /* Fondo oscuro para mayor contraste */
    padding: 15px;
    border-radius: 10px;
    text-align: center;
}


h2 {
    color: #fff
}

p{
    color: #fff;
}

/* Header */
header {
    display: flex;
    justify-content: space-between;
    padding: 20px 0 20px 0;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: rgba(192,191, 191, 0.4);  /* Gris oscuro */
    color: white;  /* Texto blanco */
    z-index: 1000;
    border-radius: 10px;
    box-shadow: none;
}

/* Para el menú principal */
#menu-boton-principal.five {
    font-family: 'Poppins', sans-serif;
    font-weight: 900;
    font-style: italic;
    border-radius: 10px;
    color: #40382D;
    background-color: #E7E5DD;
    padding: 15px 20px;
    box-shadow: inset 0 -5px 0 #40382D;
    transition: box-shadow 0.3s ease, color 0.3s ease;
}

#menu-boton-principal.five:hover {
    box-shadow: inset 0 -55px 0 #40382D, 2px 2px 3px rgba(0,0,0,0.3);
    color: #DECDA5;
}

.menu-boton-right {
    display: flex;
    justify-content: flex-end;
    flex-grow: 1;
    gap: 10px;
}

#menu-boton-login.invFive {
    font-family: 'Poppins', sans-serif;
    font-weight: 900;
    font-style: italic;
    border-radius: 10px;
    color: #E7E5DD;
    background-color: #40382D;
    padding: 15px 20px;
    box-shadow: inset 0 -5px 0 #E7E5DD;
    transition: box-shadow 0.3s ease, color 0.3s ease;
}

#menu-boton-login.invFive:hover {
    box-shadow: inset 0 -55px 0 #E7E5DD, 2px 2px 3px rgba(0,0,0,0.3);
    color: #40382D;
}

.todos_items img {
    max-width: 100%;
    height: auto;
    object-fit: cover;
    border-radius: 10px 10px 0 0;
    transition: all 1s;
}

.todos_items {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    justify-items: center;
    padding: 20px;
}

.item {
    border-radius: 10px;
}

.item:hover {
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.20);
    filter: brightness(0.7);
}

.infoProd {
    padding: 15px 30px;
}

.item figure {
    overflow: hidden;
}

.item:hover img {
    transform: scale(1.2);
}

/* Fondo de la tienda sin afectar al header */
.todos_items {
    padding: 20px;
    position: relative;
}

/* Filtro sobre la imagen de fondo (opcional) */
.todos_items::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5); /* Filtro oscuro */
    z-index: -1; /* Coloca el filtro debajo de los productos */
}

/* Asegura que el texto no se superponga con la imagen */
body {
    padding-top: 140px; /* Espacio para el header fijo */
}

h1 {
    font-size: 2rem;
    margin: 20px;
    text-align: center;
}
